.Contact-Us{
  text-align: center;
}

.developer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.developer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.developer-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.developer-details {
  text-align: center;
}

.developer-details h2 {
  margin-bottom: 5px;
}

.developer-details p {
  font-size: 14px;
  color: gray;
}
#dev_img {
  width: 500px;
  height: 600px;
}
