.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.subheader {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0e0d0d;
}

.developers-section {
  margin-bottom: 40px;
}

.developer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.developer-card {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.developer-card:hover {
  transform: translateY(-5px);
<<<<<<< HEAD
}

.developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

=======
}

.developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

>>>>>>> 6c06dcb306ee30b90fff6db104d094dfdce6fafa
.developer-name {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.developer-email {
  font-size: 14px;
  color: #555;
}

.contact-form-section {
  text-align: center;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.contact-form:hover {
  transform: translateY(-5px);
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
<<<<<<< HEAD
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #555;
=======
>>>>>>> 6c06dcb306ee30b90fff6db104d094dfdce6fafa
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #555;
}