*{
    margin: 0;
    padding: 0;
}

.Hero_Section{
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#000000, #20290266), url(../assets/img/img2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}