*{
    margin: 0;
    padding: 0;
}

.Hero_Section{
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#000000, #09090698), url(../assets/img/img2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie__categories{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 1.4rem 2.5rem;
}

.posterImage{
    height: 90vh;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay{
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3;
}

.posterImage__overlay:hover{
    opacity: 1;
}

.posterImage__title{
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating{
    margin-left: 3rem;
}

.posterImage__description{
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

.About-Us{
    height: 50vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.About-Us>h2{
    font-family: monospace;
    letter-spacing: .2rem;
}

.movie__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    background: black;
    margin-top: 3rem;
}

.movie__Item{
    /* border-left: .5px solid rgba(65, 87, 97, 0.403);*/
    border-bottom: .5px solid rgba(255, 255, 255, 0.23); 
    /* border-top: .5px solid rgba(86, 48, 48, 0.522);
    border-right: .5px solid rgba(86, 48, 48, 0);  */
    width: fit-content;
    margin: 1.5rem; 
    height: 25rem;
    overflow: hidden;
    transition: 2 all ease-in;
}

.movie__Item:hover{
    scale: 1.03;
    /* box-shadow: 3px 3px 1px 0px rgba(132, 111, 111, 0.411); */
}

.cardcontent{
    background-color: black; 
    color: white;
}
#loginn {
  background-color: rgb(122, 9, 9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    height: auto; 
  }
  
  #Header {
    color: white;
  }
  
  #loginn >form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #loginn >form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    color: rgb(255, 255, 255);
  }
  
  input[type="email"],
  input[type="password"]{
    width: 200px;
    padding: 5px;
    background-color: rgba(121, 81, 81, 0.323); /* Cloudy background for input fields */
    color: aliceblue;
  }
  #firstName, #lastName, #username{
    width: 200px;
    padding: 5px;
    background-color: rgba(121, 81, 81, 0.326);
    color: aliceblue;
  }
  
  #buttton {
    width: 215px;
    padding: 5px;
    background-color: white;
  }
  #buttton:hover {
    
    background-color: rgb(223, 98, 98); 
    color: white; /* Example hover text color */
  }
  
  #message {
    color: white;
    text-align: center;
  }
  
  #message p {
    margin-bottom: 0;
  }

#togbtn{
    color: rgb(3, 181, 246);
    text-decoration: none;
}

.forms{
   display: flex;
   align-items: center;
   justify-content: center; 
   margin-top: 15%;
   margin-left: 15%;
}

.overlay{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  justify-content: center;
  background: linear-gradient(#000000b7, #0000009d), url(../assets/img/img6.jpg);
  background-size: cover;
  background-position: center;
}

.wl{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000000b7, #0000009d), url(../assets/img/img7.jpg);
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.watchlater{
  border: orange 1px solid;
  padding: 1.5rem;
  background-color: #0000007e;
  border-radius: 1rem;
  margin: 1rem;
}

#Welcome_text{
  font-size: 2rem;
}
  @media screen and (max-width: 1000px) {
      .posterImage>img{
          height: 100%;
          object-fit: cover;
      }
      .About-Us{
          height: fit-content;
          padding: 1.4rem 0;
      }
      .posterImage__title{
          font-size: 2.3rem;
      }
      .posterImage__runtime{
          font-size: 1.4rem;
      }
      .posterImage__description{
          width: 100%;
      }
  }
    
